<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.hs.dbgus3577e_mirim.beansprouts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <FrameLayout
            android:id="@+id/frameLayout"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            >
        </FrameLayout>

        <!-- 스플래시 액티비티 -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- MainActivity -->
        <activity android:name=".MainActivity">
        </activity>

        <!-- GameActivity -->
        <activity android:name=".GameActivity">
        </activity>

        <!-- PlayActivity -->
        <activity android:name=".PlayActivity">
        </activity>

    </application>

</manifest>